@import 'front/tools.scss';

@import '~mapbox-gl/dist/mapbox-gl.css';
// +@import '~mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import '~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';

$purple: #29304C;
$green: #2BC569;



// <div class="marker mapboxgl-marker mapboxgl-marker-anchor-center"
//     style="transform: translate(-50%, -50%) translate(471px, 455px);">
//     <div class="spot-marker"><img src="https://sweetspot.test/storage/20/b1232938399d342acba7490a2c923c73.jpg">
//         <section><span>$331</span><span>B: 2</span><span>S: 18</span></section>
//     </div>
// </div>



.mapboxgl-marker {
    .spot-marker {
        cursor: pointer;
        filter: drop-shadow(rgba(0, 0, 0, 0.25) 0 2px 10px);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #29304C;
        background: #fff;
        width: 300px;
        padding: 0;
        border-radius: 2px;
        position: relative;
        z-index: 2;
        opacity: 1;
        transition: opacity .2s;
        
        section {
            align-items: center;
            height: 150px;
            box-sizing: border-box;
            transition: opacity .2s;
            .img {
                width: 33.333%;
                height: 75px;
                display: block;
                float: left;
                -webkit-background-size: cover !important;
                -moz-background-size: cover !important;
                -o-background-size: cover !important;
                background-size: cover !important;
            }
        }
        .info {
            padding: 5px;
            h1 {
                font-size: 22px;
                margin-bottom: 5px;
            }
        }
        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            margin-left: -16px;
            bottom: -24px;
            left: 50%;
            box-sizing: border-box;
            border: 12px solid black;
            border-color: transparent transparent #fff #fff;
            transform-origin: 0 0;
            transform: rotate(-45deg);
            z-index: 0;
        }
        &.not-active {
            opacity:.5;
        }
        &.active {
            opacity:1;
        }
    }
}


// Previous popup Style
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {border-top-color:$purple}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {border-right-color:$purple}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {border-left-color:$purple}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {border-bottom-color:$purple}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
    border-bottom-color:$purple;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
    border-top-color:$purple;
}

.mapboxgl-control-container {
    z-index:1000;
    position:relative;
}

.search-and-filters {
    .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        max-width:none;
        width:100%;
        display:block;
        box-shadow:none;
        // width:300px;
        // min-width:none;
        // display:block;
    }
    .mapboxgl-ctrl-geocoder--icon-search {
        width:30px;
        height:30px;
        left:9px;
        top:50%;
        margin-top:-14px;
    }
    .mapboxgl-ctrl-geocoder {
        .mapboxgl-ctrl-geocoder--pin-right {
            position:absolute;
            top:0;
            height:100%;
            right:0;
            width:35px;
            display:flex;
            justify-content:center;
            align-items:center;
            > * {
                position:relative !important;
                right:auto !important;
                top:auto !important;
            }
            svg {
                position:relative !important;
                margin:0 !important;
                top:auto !important;
                left:auto !important;
                right:auto !important;
            }
        }
        .suggestions {
            font-size:1rem;
            > li {
                > a {
                    padding:10px 12px;
                }
            }
            .mapboxgl-ctrl-geocoder--suggestion-title {
                font-weight:600;
            }
            .mapboxgl-ctrl-geocoder--suggestion-address {
                font-size:0.875em;
            }
        }
    }
    // .mapboxgl-ctrl-group {
    //     z-index:100;
    //     background:transparent;
    //     box-shadow:none !important;
    //     border:none;
    //     > button.mapboxgl-ctrl-geolocate {
    //         display:none;
    //         @include appearance(none);
    //         border:none;
    //         background-color:transparent;
    //         position:fixed;
    //         top:39px;
    //         right:107px;
    //         top:200px;
    //         right:0;
    //         &:hover {
    //             background-color:transparent;
    //         }
    //     }
    // }
}