.price-calendar .datepicker-inner {
    width: 100%;
}

.price-calendar .datepicker-body span {
    width: 65px;
    height: auto;
    vertical-align: top
}

.price-calendar .datepicker-body .price {
    color: #e56700
}

.price-calendar .datepicker-body .low {
    color: red;
    font-weight: 700
}

.price-calendar .datepicker-body .datepicker-monthRange span {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    line-height: 100px
}

.price-calendar .day-cell { 
    background: #E6E7E8;
    border: 1px solid #FFF;
    padding-left: 5px;

    i {
        display: none;
    }

    > div {
        line-height: 28px;

        div {
            margin: 0 auto;
            text-align: center;
            display: inline-block;

            color: firebrick;
            font-weight: 700;
        }

        .low {
            // color: forestgreen;
            // font-weight: 700;
        }

        .high {
            // color: firebrick;
        }

        .norm {
            // color: royalblue;
            // font-weight: 700;
        }
    }
}

.datepicker-body p {
    margin: 0px 0 2px !important;
    background: #e6e7e8;
    padding: 10px 0px;
}

.datepicker-body {
    padding: 0px !important;

    .datepicker-weekRange > span {
        background: #E6E7E8;
        border: 1px solid #FFF;
    }

    > p {
        text-align: center;
    }
}

.datepicker-popup {
    box-shadow: none !important;
}

.datepicker-item-gray {
    display: none;
}


.price-calendar .day-cell.datepicker-dateRange-item-active {
    > div {
        .low {
            color: white;
            font-weight: 700;
        }

        .high {
            color: white;
        }

        .norm {
            color: white;
            font-weight: 700;
        }
    }
}   