@mixin fontBook() {
    font: normal normal 400 16px/1.4em montserrat, sans-serif;
    color: $dark;
}
@mixin fontMedium() {
    font: normal normal 600 16px/1.4em montserrat, sans-serif;
    color: $dark;
}
@mixin fontBold() {
    font: normal normal 700 16px/1.4em montserrat, sans-serif;
    font-weight: 700;
    color: $dark;
}