@mixin fontBook() {
    font-family: "Whitney A", "Whitney B";
    font-style: normal;
    font-weight: 400;
    color: #29304C;
}

@mixin fontBold() {
    font-family: "Whitney A", "Whitney B";
    font-style: normal;
    font-weight: 700;
    color: #29304C;
}