
footer{
    @include fxd;
    @include z-10;
    display: flex;
    bottom: 20px;
    right: 20px;
    height: 45px;
    flex-direction: row;
    // @include mq('temp-tap'){
    //     display: none;
    // }
    .submit{
        @include appearance(none);
        background: #9080F0;
        display: flex;
        flex-grow: 1;
        align-items: center;
        @include fontBold;
        color: #fff;
        text-decoration: none;
        font-size: 13px;
        padding: 0 20px;
        margin-right: 20px;
        border-radius: 100px;
        letter-spacing: -.5px;
        border: none;
        @include moveMe;
        cursor: pointer;
        &:hover{
            background: #45AEF1;
        }
        @include mq('temp-tap'){
            justify-content: center;
            margin-right: 0;
            margin-left: 20px;
            padding: 10px 0;
        }
    }
    ul.navigation{
        display: flex;
        flex-grow: 1;
        background: #fff;
        padding: 0 20px;
        border-radius: 4px;
        @include moveMe;
        li{
            display: flex;
            flex-grow: 1;
            align-items: center;
            @include fontBold;
            font-size: 13px;
            margin-right: 15px;
            letter-spacing: -.5px;
            &:last-child{
                margin-right: 0;
                @include fontBook;
                color: rgba(0,0,0,.35);
                &::before{
                    content: '|';
                    @include fontBook;
                    color: rgba(0,0,0,.15);
                    margin-right: 15px;
                    @include mq('temp-tap'){
                        display: none;
                    }
                }
            }//end last-child
            a{
                text-decoration: none;
                color: #ccc;
                @include moveMe;
                &:hover{
                    color: #45AEF1;
                }
            }
            @include mq('temp-tap'){
                justify-content: center;
                margin-right: 0;
                padding: 10px 0;
            }
        }//end li
        @include mq('temp-tap'){
            justify-content: center;
            margin-right: 0;
            margin-left: 20px;
            margin-top: 10px;
        }
    }//end footer navigation
    @media not all and (min-resolution:.001dpcm)
        { @supports (-webkit-appearance:none) {
            bottom:125px;
    
        }
    }
}//end footer