div.tos{
    padding: 40px 70px;
    max-height: 100%;
    overflow: auto;
    @include mq('tablet'){
        padding: 50px;
    }
    h1{
        @include fontBold;
        font-size: 44px;
        padding-bottom: 30px;
        @include mq('tablet'){
            font-size: 32px;
        }
    }//end h1
    .dynamic-body {
        h1{
            font-size: 15px;
            @include fontBold;
            padding-bottom: 25px;
        }//end h3
        p, div{
            @include fontBook;
            font-size: 14px;
            line-height: 20px;
            padding-bottom: 25px;
        }//end p
    }
}//end tos