section.welcome-background{
    @include z-100;
    @include abs;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    overflow: hidden;
}

section.welcome-container{
    @include abs;
    
    min-width: 560px;
    max-width: 560px;
    height: 100%;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    overflow: auto;

    section.logo{
        @include abs;
        @include z-110;
        top: 41px;
        left: 46px;
        width: 150px;
        height: 40px;
        background: url('#{$images}logo.svg') no-repeat top left;
        background-size: contain;
    }//end logo

    div.welcome-home{
        width: 490px;
        height: 430px;
        background: url('#{$images}welcome-home.svg') no-repeat top left;
        margin-left: calc(50% - 245px);
    }
    h1{
        @include fontBold;
        font-size: 42px;
        padding: 20px 60px;
        @include mq('tablet'){
            font-size: 32px;
        }
    }
    p{
        @include fontBook;
        font-size: 14px;
        line-height: 22px;
        padding: 20px 60px 0 60px;
        margin-bottom: 60px;
    }
    a.btn-special{
        margin-left: 60px;
    }

    @include mq('tablet'){
        min-width: 100%;
    }
}//end welcome container
