header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $bright;
    height: 80px;
    @include rlt;

    @include mq('sm-desk'){
        height: 50px;
    }

    @include mq('tablet'){
        flex-direction: column;
        height: 125px;
    }

    logo-and-menu{

        display: flex;
        flex-direction: row;
        flex-basis: 180px;
        align-items: center;
        
        logo{
            display: flex;
            flex-grow: 1;
            height: 30px;
            background: url('#{$images}logo.svg') no-repeat 30px center;
            background-size: contain;
            @include mq('sm-desk'){
                height: 25px;
                width: 145px;
                background: url('#{$images}logo.svg') no-repeat 20px center;
                background-size: contain;
            }
            @include mq('tablet'){
                height: 30px;
            }
        }//end logo
        @include mq('sm-desk'){
            flex-basis: 145px;
        }
        @include mq('tablet'){
            width: 100%;
            flex-basis: 60px;
        }

        bun{
            display: none;
            flex-direction: column;
            justify-content: space-between;
            width: 20px;
            height: 15px;
            cursor: pointer;
            margin-right: 15px;
            @include rlt;
            @include mq('tablet'){
                display: flex;
            }
            meat, cheese, pickles{
                
                height: 2px;
                width: 100%;
                border-radius: 3px;
                background: $grey;
                display: flex;
                @include moveFast;
                @include rlt;
            }
            &:hover{
                meat, cheese, pickles{
                    opacity: 1;
                }
            }
            &.active{
                meat, cheese, pickles{
                    background: #000;
                }
                pickles{
                    transform: rotate(45deg) translate(4px, 4px);
                }
                cheese{
                    opacity: 0;
                }
                meat{
                    transform: rotate(-45deg) translate(5px, -5px);
                    
                }
            }
        }//end hamburger

    }//end logo and menu
    
    search-and-filters{
        display: flex;
        flex-direction: row;
        align-items: center;
        search{
            display: flex;
            @include rlt;
            svg{
                @include abs;
                top: 15px;
                left: 15px;
                opacity: .25;
                @include z-1;
                @include moveFast;
                @include mq('sm-desk'){
                    top: 6px;
                    left: 6px;
                    transform: scale(.8);
                }
                @include mq('tablet'){
                    top: 15px;
                    left: 15px;
                    transform: scale(1);
                }
            }
            input{
                display: flex;
                font-size: 18px;
                height: 48px;
                width: 300px;
                @include radius;
                border: solid 1px rgba(0,0,0,.1);
                padding-left: 45px;
                @include moveFast;
                margin-right: 10px;
                background: none;
                @include z-3;
                &:focus{
                    border: solid 1px $dark;
                    & + svg{
                        opacity: 1;
                    }
                }
                @include mq('sm-desk'){
                    height: 30px;
                    width: 250px;
                    font-size: 14px;
                    padding-left: 35px;
                    margin-right: 0;
                }
                @include mq('tablet'){
                    height: 48px;
                    width: 100%;
                    flex-grow: 1;
                    font-size: 18px;
                    padding-left: 45px;
                    margin-right: 10px;
                }
            }//end input
            @include mq('tablet'){
                margin-left: 15px;
                flex-grow: 1;
            }
        }//end search
        filters{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 45px;
            padding: 0 7px;
            height: 50px;
            border: solid 1px rgba(0,0,0,.1);
            @include radius;
            @include moveFast;
            cursor: pointer;
            @include mq('sm-desk'){
                transform: scale(.66);
            }
            @include mq('tablet'){
                transform: scale(1);
            }
            svg{
                path{
                    stroke: $dark;
                    @include moveFast;
                }
            }
            count{
                @include fontBook;
                font-size: 18px;
                padding-left: 7px;
                color: $blue;
                display: none;
            }
            &:hover{
                border: solid 1px $blue;
            }
            &.active{
                count{
                    display: flex;
                }
            }
            &:hover, &.active{
                svg{
                    path{
                        stroke: $blue;
                    }
                }
            }
            @include mq('tablet'){
                margin-right: 15px;
            }
        }//end filters
        @include mq('tablet'){
            width: 100%;
        }
    }//end search-and-filters
    
    nav{
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        align-items: center;
        padding-right: 25px;
        a{
            padding: 0 30px;
            text-decoration: none;
            @include fontMedium();
            color: $grey;
            font-size: 15px;
            &:hover{
                color: $purple;
            }//end hover
            @include mq('sm-desk'){
                font-size: 12px;
                padding: 0 20px;
            }
        }//end a
        button{
            border: solid 1px $purple;
            @include radius();
            @include fontMedium();
            @include moveFast();
            background: $bright;
            color: $purple;
            padding: 13px 25px;
            font-size: 15px;
            cursor: pointer;
            &:hover{
                background: $purple;
                color: $bright;
            }//end hover
            @include mq('sm-desk'){
                font-size: 12px;
                padding: 8px 12px;
            }
        }//end button
        @include mq('sm-desk'){
            padding-right: 7px;
        }
        @include mq('tablet'){
            display: none;
        }
    }//end nav
}//end header