// Images Ref
$images: '../images/';

@import '../../../node_modules/spinthatshit/src/loaders';
@import '../../../node_modules/vue2-dropzone/dist/vue2Dropzone.min.css';

@import 'reset', 'mobile', 'tools';
@import 'colors', 'fonts', 'buttons', 'components';
@import 'map', 'details', 'uploads';

body{
    background: #f0f0ee;
    > h1.logo{
        @include abs;
        top: 50px;
        left: 40px;
        width: 70px;
        height: 17px;
        background: url('#{$images}logo.svg');
        background-size: contain;
        z-index:5;
        @include mq('tablet'){
            top: 20px;
            left: 20px;
        }
    }
}//end body



@import 'submit-property', 'footer';