// Images Ref
$images: '../images/';

// border-radius
@mixin radius() {
    border-radius: 4px;
}

@import '../../../node_modules/spinthatshit/src/loaders';
@import '../../../node_modules/vue2-dropzone/dist/vue2Dropzone.min.css';
@import '../../../node_modules/flatpickr/dist/flatpickr.css';

@import 'reset', 'mobile', 'tools';
@import 'colors', 'fonts', 'buttons', 'components';
@import 'header', 'forms', 'flatpickr', 'map', 'details', 'uploads', 'welcome';

body{
    background: #ccc;
    @include rlt;
    @include mq('tablet'){
        @include fxd;
        height: 100%;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
}//end body

.mobile-nav{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    @include abs;
    z-index:410;
    background: $purple;
    width: 100%;
    height: auto;
    max-height: 0px;
    min-height: 0px;
    top: -60px;
    @include moveFast;
    ul{
        padding: 60px 40px 30px 40px;
        display: block;
        flex-direction: column;
        li{
            display: block;
            a{
                display: block;
                text-decoration: none;
                @include fontMedium;
                color: $bright;
                font-size: 35px;
                padding: 10px 0;
                @include moveFast;
                &:hover{
                    color: $dark;
                }//end hover
            }//end a
        }//end li
    }//end mobile-nav ul
    button{
        background: none;
        border: solid 1px $bright;
        @include radius;
        @include fontMedium;
        font-size: 25px;
        color: $bright;
        width: 200px;
        padding: 15px;
        margin-left: 40px;
        cursor: pointer;
        @include moveFast;
        &:hover{
            background: $bright;
            color: $purple;
        }//end hover
    }//end button
    &.active{
        @include mq('tablet'){
            height: auto;
            min-height: calc(100% - 60px);
            max-height: calc(100% - 60px);
            min-height: calc(100% + 60px);
            max-height: calc(100% + 60px);
        }
    }
}//end mobile-nav

ul.style-switcher{
    @include abs;
    bottom: 25px;
    left: 25px;
    max-height: 30px;
    width: 30px;
    overflow: hidden;
    z-index:101;
    @include moveFast;
    li{
        width: 30px;
        height: 30px;
        border-radius: 4px;
        background: $bright;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include moveFast;
        @include z-1;
        svg{
            path{
                @include moveFast;
            }
        }
        &.active{
            display: flex;
        }
        &:hover{
            background: $purple;
            display: flex;
            svg{
                path{
                    fill: $bright;
                }
            }
        }
    }//end li
    &.open{
        max-height: 130px;
        li{
            display: flex;
            margin-top: 10px;
        }
    }
    @media not all and (min-resolution:.001dpcm)
        { @supports (-webkit-appearance:none) {
        bottom:130px;
    }}
}//end style switcher

@import 'submit-property', 'footer';